<!DOCTYPE HTML>
<html>
<head>
    <title>关于我-越努力，越幸运！Scott Jeremy的个人博客，将由互联网学到的知识回馈给互联网</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/style.css" rel='stylesheet' type='text/css' />
    <!--//Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Scott Jeremy" />
</head>
<body>
<!-- header -->
<div class="col-md-2 sidebar">
    <div class="sidebar_top">
        <h1><a href="/">Scott<span> Jer</span></a></h1>
    </div>
    <div class="top-navigation">
        <div class="t-menu">菜单</div>

        <div class="t-img">
            <img src="../images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation">
        <div class="top-menu">

            <ul>
                <li class="/"><a href="/">主页</a></li>
                <li><a href="/JavaScript">JavaScript</a></li>
                <li><a href="/NodeJS">NodeJS</a></li>
                <li><a href="/Environment">环境搭建</a></li>
                <li><a href="/About">关于我</a></li>
                <li><a href="/comment">留言</a></li>
            </ul>
        </div>
        <!-- script-for-menu -->
        <script>
            $( ".top-navigation" ).click(function() {
                $( ".drop-navigation" ).slideToggle( 300, function() {
                    // Animation complete.
                });
            });
        </script>

        <div class="side-btm">
            <div class="copyright">
                <p>Design by Scott Jeremy</p>
                <p>Copyright &copy; 2016.Scott All rights reserved.</p>
                <p><a href="#">粤ICP备16097955号-1</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="news">
        <div class="news-sec">
            <div class="news-top">
                <div class="col-md-12 news-1">
                    <a href="javascript:;"><h5>关于我</h5></a>
                    <h6>2016-12-17 18:52:24</h6>
                    <div class="blog-body">
                        <div class="blog-content">
                            <h2><strong><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">个人简介：</span></strong></h2>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">本人名叫曾豪贤，英文名叫Scott Jeremy. 是一名大三学生，喜欢捣鼓事情，对前端技术非常感兴趣，从技术落成到技术结果也回馈了我一个很大的成就感。越努力，越幸运！Scott Jeremy的个人博客，将由互联网学到的知识回馈给互联网</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">在建这个博客前个人比较熟悉HTML，HTML5，CSS3，JavaScript原生和jQuery。</span></p>
                            <h2><strong><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">个人历程：</span></strong></h2>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">我是由2015年11月的时候开始接触前端开发，到现在都有了一年的时间了。回首过来发现学的东西并不多。而且还有很多东西要学。Keep Fighting!</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">前端发展如此之快，以至于我跟不上节奏。前端MVVM框架我还没学。啊啊啊！Google的AngularJs. 国人的VueJs. FaceBook的ReactJs. 还有3D模型的ThreeJs. Oh my god!</span></p>
                            <h2><strong><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">个人博客：</span></strong></h2>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">半年前我就已经想拥有自己的个人博客了。可惜技术和时间上的不允许。我想通过自己建立博客来提升自己的实力。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">四个月前听说了NodeJs这个东西，NodeJs封装了Google V8引擎，可以作为网站的后台，而且全程都是以JavaScript来做的。非常适合我做前端的事情。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">一开始学NodeJs非常痛苦，甚至连Hello World！都不会。怪我太笨。但学成之后，就会发现。原来JavaScript还可以这么玩！NodeJs真是打开了我的眼界。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">我本来想用两个对于我来说崭新的技术来写的。博客技术选型是： 后台：NodeJs(Express) + 前端：AngularJs + UI库：Foundation 。是我把NodeJs和AngularJs想象得太简单了。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">后来实在没这个时间和精力。只学了NodeJs。博客技术选型是： 后台：NodeJs(Express) + 前端：jQuery + UI库：Bootstrap 。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">所以我打算用jQuery完善了这个博客后。把整个博客给重构一下，把jQuery换成AngularJs.或者vueJs等等。</span></p>
                            <h2><strong><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">个人希望：</span></strong></h2>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">我的知识都是由网络上获取的，所以我个人一直有这样的期望，就是我能回馈给互联网，塑造一个更好的互联网世界给用户用。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">我一直衷心希望我的代码能给人带来方便，使用我写的代码。</span></p>
                            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18px;">我希望我遇到的坑，解决后的方法以博客的形式分享给大家，如果大家遇到相同的坑，看到我的博客能解决或者能得到一些信息。</span></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"></div>
</body>
</html>