<!--<ul class="msg msghead">
    <li class="tbname">留言列表</li>
</ul>
<ul class="msg">
    <li class="msgname">
        <img class="avatar" src="../images/t2.jpg"/>
        <span class="commentname">Scott Jeremy</span><br>
        <span class="commenttime">
                                发布于：2016-6-23 9:43:54
                                <span class="revertcomment">
                                    <a href="#comment">回复该留言</a>
                                </span>
                            </span>
    </li>
    <li class="msgarticle">
        Scott Jeremy 好帅啊！
    </li>
</ul>
<ul class="msg">
    <li class="msgname">
        <img class="avatar" src="../images/t2.jpg"/>
        <span class="commentname">Scott Jeremy</span><br>
        <span class="commenttime">
                                发布于：2016-6-23 9:43:54
                                <span class="revertcomment">
                                    <a href="#comment">回复该留言</a>
                                </span>
                            </span>
    </li>
    <li class="msgarticle">
        Scott Jeremy 好帅啊！
    </li>
</ul>
<ul class="msg">
    <li class="msgname">
        <img class="avatar" src="../images/t2.jpg"/>
        <span class="commentname">Scott Jeremy</span><br>
        <span class="commenttime">
                                发布于：2016-6-23 9:43:54
                                <span class="revertcomment">
                                    <a href="#comment">回复该留言</a>
                                </span>
                            </span>
    </li>
    <li class="msgarticle">
        Scott Jeremy 好帅啊！
        <ul class="msg">
            <li class="msgname">
                <img class="avatar" src="../images/t2.jpg"/>
                <span class="commentname">Scott Jeremy</span><br>
                <span class="commenttime">
                                        发布于：2016-6-23 9:43:54
                                        <span class="revertcomment">
                                            <a href="#comment">回复该留言</a>
                                        </span>
                                    </span>
            </li>
            <li class="msgarticle">
                对啊！他真帅！
            </li>
            <li class="msgname">
                <img class="avatar" src="../images/t2.jpg"/>
                <span class="commentname">Scott Jeremy</span><br>
                <span class="commenttime">
                                        发布于：2016-6-23 9:43:54
                                        <span class="revertcomment">
                                            <a href="#comment">回复该留言</a>
                                        </span>
                                    </span>
            </li>
            <li class="msgarticle">
                对啊！他真帅！
            </li>
        </ul>
    </li>
</ul>-->
<!---->
<!-- footer -->
<!--<div class="footer">
    <div class="footer-grids">
        <div class="col-md-6 ftr-grid1">
            <h4>About</h4>
            <p>Nam ac interdum dui, eget iaculis augue. Cras sagittis orci leo, quis luctus diam sollicitudin in. Nullam in convallis sem. Aliquam erat felis, iaculis ac semper et, congue feugiat nibh. Nullam commodo fermentum venenatis.</p>

        </div>
        <div class="col-md-6 news-ltr">
            <h4>Newsletter</h4>
            <p>Aenean sagittis est eget elit pulvinar cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non purus at risus consequat finibus.</p>
            <form>
                <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
                <input type="submit" value="Subscribe">
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>-->